<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Cua hang Hoa Dep</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
  .style2 {
    color: #000099;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: smaller;
  }

  .style3 {
    color: #006633;
    font-weight: bold;
  }

  .style4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #009933;
  }

  .style7 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: smaller;
  }

  .style11 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: bold;
    color: #009933;
  }

  .style16 {
    font-size: smaller
  }

  a:link {
    color: #006633;
  }

  a:visited {
    color: #006633;
  }

  a:hover {
    color: #009900;
  }

  a:active {
    color: #009900;
  }
  </style>
  
</head>

<body>
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor="#F4FBEB">
      <td width="21%" valign="top"><img src="images/LogotypeKvitka.gif" width="200" height="112" /></td>
      <td width="28%" valign="top">
        <div align="center">
          <table width="300" border="0" cellpadding="0" cellspacing="2" bgcolor="#F4FBEB">
            <tr>
              <td><span class="style11">(08) 9891234 </span></td>
            </tr>
            <tr>
              <td><span class="style7">(Giờ mở cửa: 8:00 - 22:00 mỗi ngày) </span></td>
            </tr>
            <tr>
              <td><span class="style7"><img src="images/IconMail.gif" width="16" height="16" /> <a
                    href="./ktphuong@hcmuns.edu.vn">ktphuong@hcmuns.edu.vn </a></span></td>
            </tr>
            <tr>
              <td><span class="style7"><img src="images/online0.gif" width="18" height="18" />hoadep.com.vn</span>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td colspan="3" valign="top">
        <div align="right"><img src="images/top.jpg" width="450" height="113"></div>
      </td>
    </tr>
    <tr bgcolor="#F4FBEB">
      <td valign="top">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td bgcolor="#C7EAB0">
              <table width="100%" border="0" bgcolor="#F4FBEB">
                <tr>
                  <td><span>&nbsp;<a href="/">Trang chủ</a></span></td>
                </tr>
                <tr>
                  <td><span>&nbsp;<a href="/search">Tìm kiếm bó hoa</a></span>
                  </td>
                </tr>
                <tr>
                  <td><span>&nbsp;<a href="/add-flower">Thêm mới bó hoa</a></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="bottom" bgcolor="#F4FBEB">&nbsp;</td>
          </tr>
        </table>
        <img src="images/BannerSideCreative.jpg" width="200" height="200" />
      </td>
      <td colspan="3" valign="top">
        <p>&nbsp;</p>
        <form name="form1" method="post" action="/search">
          <table width="100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#BBE09D">
            <tr bgcolor="#F4F8E9">
              <td><h5 class="text-success"> Tìm kiếm bó hoa </h5></td>
            </tr>
            <tr>
              <td>
                <span>Tên bó hoa: </span><input name="name" type="text" id="name" size="30">
              </td>
            </tr>
            <tr>
              <td height="40">
                <input name="Submit" type="submit" value="Tìm kiếm">         
              </td>
            </tr>
          </table>
        </form>
        <% if(flowers) { %> 
          <% if(flowers.length > 0) { %> 
            <table width='100%' align="center" >
              <% flowers.forEach((flower, index) => { %> 
                <% if(index % 3 === 0) { %><tr><% } %> 
                  <td>
                    <a href="/detail/<%= flower._id %>">
                      <img src="/<%= flower.imageUrl %>">
                    </a><br>
                    Tên bóa hoa : <%= flower.name %><br>
                    Giá bán : <%= flower.price  %> 
                    <form action="/cart" method="POST">
                      <input type="hidden" name="flowerId" value="<%= flower._id %>"/>
                      <button type="submit">Thêm vào giỏ hàng</button>
                    </form>
                  </td>
                <% if((index + 1) % 3 === 0) { %></td><% } %>  
              <% }) %> 
            </table>
          <% } else { %> 
            <strong>Không tìm thấy</strong>
          <% } %> 
        <% } %> 
      </td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#DEF4CE"><span class="style2">Copyright &copy;2003-2007 <br />
          Công ty thiết kế Ý Tưởng </span></td>
      <td valign="top" bgcolor="#DEF4CE"><span class="style16"></span></td>
      <td width="27%" valign="top" bgcolor="#DEF4CE"><span class="style16"></span></td>
      <td bgcolor="#DEF4CE"><span class="style7"><img src="images/IconMail.gif" width="16" height="16" />
          <a href="./ktphuong@hcmuns.edu.vn">ktphuong@hcmuns.edu.vn</a>
          <br />
          <img src="images/online0.gif" width="18" height="18" />hoadep.com.vn</span></td>
    </tr>
  </table>
</body>
</html>